{% extends 'base.html'%}

{%block content%}

	<div>
		<h1>Contacts list</h1>
		<a href="{%url 'contacts:contact-create'%}">Create new contact</a>
	</div>
	<div class="table-responsive text-center">
		<table class="table" >
			<thead>
				<th>Names</th>
			</thead>
			<tbody>

	{%for contact in object_list%}

				<tr>
					<td><a href="{%url 'contacts:contact-detail' contact.pk%}">{{contact.get_full_name}} </a></td>
				</tr>
	
	{%empty%}
	
				<tr>
					<td>Empty contact list</td>
				</tr>

	{%endfor%}

			</tbody>
		</table>
	</div>

{%endblock content%}